<h1 style="color: red;">{{error}}</h1>

<nav>
  <a href="/">Back to the garage!</a>
</nav>

<form action="/" method="post">
  <label for="url">Pictures please: </label>
  <input type="url" name="url" value="">
  <br>
  <br>
  <label for="make">Make: </label>
  <input type="text" name="make" value="">
  <br>
  <br>
  <label for="model">Model: </label>
  <input type="text" name="model" value="">
  <br>
  <br>
  <label for="year">Year: </label>
  <input type="text" name="year" value="">
  <br>
  <br>
  <br>
  <input class="submit" type="submit" value="Add a car!">

</form>
